h1 {
    color: greenyellow;
}
p,h2 {
text-align: center;
}
.menu{
    display: flex;
    justify-content: flex-end;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.class{
    border-radius: 20px;
    background-color:whitesmoke;
    width: 310px;
}
